<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orderservice.order.dao.OrderInfoDao">

	<insert id="addOrderInfo" parameterType="com.orderservice.order.entity.OrderInfo">
		INSERT INTO orderinfo(order_id,status,amount,transTime,remark) VALUES (#{orderId},#{status},#{amount},DATE_FORMAT(NOW(),'%b %d %Y %h:%i %p'),#{remark});
	</insert>

</mapper>
 

